{% if handler.get_cookie("flash_success") %}
<div class="form-group">
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-ok-sign"></span> {{ handler.get_flash("flash_success") }}
    </div>
</div>
{% end %}
{% if handler.get_cookie("flash_info") %}
<div class="form-group">
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-info-sign"></span> {{ handler.get_flash("flash_info") }}
    </div>
</div>
{% end %}
{% if handler.get_cookie("flash_warning") %}
<div class="form-group">
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-warning-sign"></span> {{ handler.get_flash("flash_warning") }}
    </div>
</div>
{% end %}
{% if handler.get_cookie("flash_error") %}
<div class="form-group">
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-ban-circle"></span> {{ handler.get_flash("flash_error") }}
    </div>
</div>
{% end %}