<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ escape(handler.settings['app_name']) }}</title>

        <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ static_url('css/style.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block header %}{% end %}
    </head>
    <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" id="naviagtion">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard"><span class="glyphicon glyphicon-signal logo-color"></span> {{ escape(handler.settings['app_name']) }}</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="page">
                {% block page %}{% end %}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="pull-left">
                <span class="glyphicon glyphicon-signal"></span> {{ escape(handler.settings['app_name']) }} &copy; 2014
            </div>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-55465344-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="{{ static_url('js/validator.js') }}"></script>
    <script src="{{ static_url('js/scripts.js') }}"></script>
    {% block javascript %}{% end %}
    </body>
</html>