<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ escape(handler.settings['app_name']) }}</title>

        <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ static_url('css/style.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block header %}{% end %}
    </head>
    <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" id="naviagtion">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard"><span class="glyphicon glyphicon-signal logo-color"></span> {{ escape(handler.settings['app_name']) }}</a>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="visible-xs"><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                    <li class="visible-xs"><a href="/properties"><span class="glyphicon glyphicon-home"></span> Properties</a></li>
                    <li class="visible-xs"><a href="/flyers"><span class="glyphicon glyphicon-list-alt"></span> Flyers</a></li>
                    <li class="visible-xs"><a href="/credentials"><span class="glyphicon glyphicon-lock"></span> Credentials</a></li>
                    <li class="visible-xs"><a href="/leads"><span class="glyphicon glyphicon-inbox"></span> Leads</a></li>
                    <li class="visible-xs"><a href="/reports"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
                    <li class="visible-xs"><a href="/support"><span class="glyphicon glyphicon-question-sign"></span> Support</a></li>
                    <li class="dropdown visible-sm">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> New <span class="caret"></span></a>
                        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="new-menu">
                            <li role="presentation"><a role="menuitem" href="/credentials/new"><span class="glyphicon glyphicon-lock"></span> New credential</a></li>
                            <li role="presentation"><a role="menuitem" href="/properties/new"><span class="glyphicon glyphicon-home"></span> New property</a></li>
                            <li role="presentation"><a role="menuitem" href="/flyers/new"><span class="glyphicon glyphicon-list-alt"></span> New flyer</a></li>
                        </ul>
                    </li>
                    <li class="dropdown visible-sm">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify"></span> Navigation <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                            <li><a href="/properties"><span class="glyphicon glyphicon-home"></span> Properties</a></li>
                            <li><a href="/flyers"><span class="glyphicon glyphicon-list-alt"></span> Flyers</a></li>
                            <li><a href="/credentials"><span class="glyphicon glyphicon-lock"></span> Credentials</a></li>
                            <li><a href="/leads"><span class="glyphicon glyphicon-inbox"></span> Leads</a></li>
                            <li><a href="/reports"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
                            <li><a href="/support"><span class="glyphicon glyphicon-question-sign"></span> Support</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ current_user.get('profile', '').get('name', 'User') }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user/profile"><span class="glyphicon glyphicon-file"></span> Profile</a></li>
                            <li><a href="/user/billing"><span class="glyphicon glyphicon-credit-card"></span> Billing</a></li>
                            <li><a href="/user/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/signout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="sidebar">
                <div class="col-md-2">
                    <ul class="list-unstyled hidden-sm">
                        <li class="dropdown">
                            <a id="new-menu" role="button" data-toggle="dropdown" href="#" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-plus"></span> New</a>
                            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="new-menu">
                                <li role="presentation"><a role="menuitem" href="/credentials/new"><span class="glyphicon glyphicon-lock"></span> New credential</a></li>
                                <li role="presentation"><a role="menuitem" href="/properties/new"><span class="glyphicon glyphicon-home"></span> New property</a></li>
                                <li role="presentation"><a role="menuitem" href="/flyers/new"><span class="glyphicon glyphicon-list-alt"></span> New flyer</a></li>
                            </ul>
                        </li>
                    </ul>
                    <hr/>
                    <ul class="nav nav-pills nav-stacked hidden-sm hidden-xs">
                        <li><a href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                        <li><a href="/properties"><span class="glyphicon glyphicon-home"></span> Properties</a></li>
                        <li><a href="/flyers"><span class="glyphicon glyphicon-list-alt"></span> Flyers</a></li>
                        <li><a href="/credentials"><span class="glyphicon glyphicon-lock"></span> Credentials</a></li>
                        <li><a href="/leads"><span class="glyphicon glyphicon-inbox"></span> Leads</a></li>
                        <li><a href="/reports"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
                        <li><a href="/support"><span class="glyphicon glyphicon-question-sign"></span> Support</a></li>
                    </ul>
                </div>
            </div>
            <div id="page">
                {% block page %}{% end %}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="pull-left">
                <span class="glyphicon glyphicon-signal"></span> {{ escape(handler.settings['app_name']) }} &copy; 2014
            </div>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-55465344-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="{{ static_url('js/validator.js') }}"></script>
    <script src="{{ static_url('js/scripts.js') }}"></script>
    {% block javascript %}{% end %}
    </body>
</html>