{% extends "../../layouts/main.html" %}

{% block page %}
<section id="units">
    <div class="col-md-10">
        {% module FlashModule() %}
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <div class="clearfix">
                    <div class="pull-left">
                        {{ a_property.get('name', 'Edit property') if a_property else '' }} &mdash; Units
                    </div>
                    <div class="actions pull-right hidden-xs">
                        <a href="/properties/{{ a_property.get('_id') }}/view" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                        <a href="/properties/{{ a_property['_id'] }}/units/new" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-plus"></span> New unit</a>
                    </div>
                </div>
            </div>
            <div id="sub-navigation">
                <div class="hidden-xs">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span> Location</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span> Description</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span></a>
                        <a class="btn btn-default" href="/properties/{{ a_property.get('_id') }}/view"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-danger" href="/properties/{{ a_property['_id'] }}/delete" id="property-delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        {% if units.count() > 0 %}
                        <table class="table table-hover table-responsive" id="properties-table" collapsing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Unit #</th>
                                <th>Beds</th>
                                <th>Baths</th>
                                <th class="hidden-xs">ft<sup>2</sup></th>
                                <th class="hidden-xs">Deposit</th>
                                <th class="hidden-xs">Broker fee?</th>
                                <th>Rent</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for unit in units %}
                            <tr>
                                <td>{{ unit.get('unit_number', 'N/A') }}</td>
                                <td>{{ unit.get('unit_bedrooms', 'N/A') }}</td>
                                <td>{{ unit.get('unit_bathrooms', 'N/A') }}</td>
                                <td class="hidden-xs">{{ unit.get('unit_sqft', 'N/A') }} ft<sup>2</sup></td>
                                <td class="hidden-xs">{{ '$' + str(unit.get('unit_deposit', 'N/A')) if unit.get('unit_deposit') > 0 else 'N/A' }}</td>
                                <td class="hidden-xs">{{ 'Yes' if unit['unit_fee'] == 'yes' else 'No' }}</td>
                                <td>${{ unit.get('unit_rent', 'N/A') }}</td>
                                <td>
                                    <a href="/properties/{{ a_property.get('_id') }}/units/{{ unit.get('_id') }}/edit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span><span class="hidden-xs"> Edit</span></a>
                                    <a href="/properties/{{ a_property['_id'] }}/units/{{ unit.get('_id') }}/delete" class="btn btn-danger btn-sm" id="unit-delete"><span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span></a>
                                </td>
                            </tr>
                            {% end %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-info">
                            <p>This property has no units!</p>
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}