{% extends "../../layouts/main.html" %}

{% block page %}
<section id="units">
    <div class="col-md-10">
        {% module FlashModule() %}
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <div class="clearfix">
                    <div class="pull-left">
                        New unit
                    </div>
                    <div class="actions pull-right"></div>
                </div>
            </div>
            <div class="panel-body">
                <form role="form" action="{{ request.uri }}" method="post" id="new-unit">
                    <div class="section">
                        <div class="section-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_number">Unit number</label>
                                        <input class="form-control input-lg" type="text" name="unit_number" id="unit_number" placeholder="Unit number" value="{{ a_unit['unit_number'] if a_unit else '' }}" required="required">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_available_date">Available date</label>
                                        <input class="form-control input-lg" type="datetime" name="unit_available_date" id="unit_available_date" value="{{ a_unit['unit_available_date'] if a_unit else '' }}" placeholder="MM/DD/YYYY">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_lease_duration">Lease Duration</label>
                                        <select class="form-control input-lg" name="unit_lease_duration" id="unit_lease_duration" required="required">
                                            {% if a_unit %}
                                            <option selected="selected" value="{{ a_unit['unit_lease_duration'] }}">{{ a_unit['unit_lease_duration'] }} {{ 'Year' if a_unit['unit_lease_duration'] == 1 else 'Month'  }}</option>
                                            <option disabled></option>
                                            {% end %}
                                            <option value="12">1 Year</option>
                                            <option value="6">6 Months</option>
                                            <option value="1">1 Month</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_bedrooms">Bedrooms</label>
                                        <select class="form-control input-lg" name="unit_bedrooms" id="unit_bedrooms" required="required">
                                            {% if a_unit %}
                                            <option selected="selected" value="{{ a_unit['unit_bedrooms'] }}">{{ a_unit['unit_bedrooms'] }} {{ 'Studio' if a_unit['unit_bedrooms'] == 0 else 'Beds'  }}</option>
                                            <option disabled></option>
                                            {% end %}
                                            <option value="0">Studio</option>
                                            <option value="1">1 Bed</option>
                                            <option value="2">2 Beds</option>
                                            <option value="3">3 Beds</option>
                                            <option value="4">4 Beds</option>
                                            <option value="5">5 Beds</option>
                                            <option value="6">6 Beds</option>
                                            <option value="7">7 Beds</option>
                                            <option value="8">8 Beds</option>
                                            <option value="9">9 Beds</option>
                                            <option value="10">10+ Beds</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_bathrooms">Bathrooms</label>
                                        <select class="form-control input-lg" name="unit_bathrooms" id="unit_bathrooms" required="required">
                                            {% if a_unit %}
                                            <option selected="selected" value="{{ a_unit['unit_bathrooms'] }}">{{ a_unit['unit_bathrooms'] }} Baths</option>
                                            <option disabled></option>
                                            {% end %}
                                            <option value="1">1 Bath</option>
                                            <option value="1.5">1.5 Baths</option>
                                            <option value="2">2 Baths</option>
                                            <option value="2.5">2.5 Baths</option>
                                            <option value="3">3 Baths</option>
                                            <option value="3.5">3.5 Baths</option>
                                            <option value="4">4 Baths</option>
                                            <option value="4.5">4.5 Baths</option>
                                            <option value="5">5 Baths</option>
                                            <option value="5.5">5.5 Baths</option>
                                            <option value="6">6 Baths</option>
                                            <option value="6.5">6.5 Baths</option>
                                            <option value="7">7 Baths</option>
                                            <option value="7.5">7.5 Baths</option>
                                            <option value="8">8+ Baths</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_sqft">Square Feet</label>
                                        <div class="input-group">
                                            <input class="form-control input-lg" type="number" name="unit_sqft" id="unit_sqft" value="{{ a_unit['unit_sqft'] if a_unit else '1' }}" placeholder="Square feet" required="required">
                                            <span class="input-group-addon">ft<sup>2</sup></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_rent">Rent</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input class="form-control input-lg" type="number" name="unit_rent" id="unit_rent" value="{{ a_unit['unit_rent'] if a_unit else '' }}" placeholder="Monthly rent" required="required">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_deposit">Deposit</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input class="form-control input-lg" type="number" name="unit_deposit" id="unit_deposit" value="{{ a_unit['unit_deposit'] if a_unit else '0' }}" placeholder="Deposit" required="required">
                                            <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="unit_fee">Broker fee?</label><br/>
                                        <div class="btn-group btn-group-lg" data-toggle="buttons">
                                            <label class="btn btn-default {{ 'active' if a_unit.get('unit_fee', '') == 'no' else '' }}">
                                                <input type="radio" name="unit_fee" id="unit_fee" value="no" {{ 'checked' if a_unit.get('unit_fee', '') == 'no' else '' }} required> No fee
                                            </label>
                                            <label class="btn btn-default {{ 'active' if a_unit.get('unit_fee', '') == 'yes' else '' }}">
                                                <input type="radio" name="unit_fee" id="unit_fee" value="yes"  {{ 'checked' if a_unit.get('unit_fee', '') == 'yes' else '' }} required> Fee
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-header">Unit amenities</div>
                        <div class="section-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="balcony" {{ 'checked' if 'balcony' in a_unit.get('amenities', '') else '' }}> Balcony
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="terrace" {{ 'checked' if 'terrace' in a_unit.get('amenities', '') else '' }}> Terrace
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="w/d" {{ 'checked' if 'w/d' in a_unit.get('amenities', '') else '' }}> W/D
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="furnished" {{ 'checked' if 'furnished' in a_unit.get('amenities', '') else '' }}> Furnished
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="wic" {{ 'checked' if 'wic' in a_unit.get('amenities', '') else '' }}> WIC
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="free-month" {{ 'checked' if 'free-month' in a_unit.get('amenities', '') else '' }}> Month Free Rent
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="duplex" {{ 'checked' if 'duplex' in a_unit.get('amenities', '') else '' }}> Duplex
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="playroom" {{ 'checked' if 'playroom' in a_unit.get('amenities', '') else '' }}> Playroom
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="hardwood-floors" {{ 'checked' if 'hardwood-floors' in a_unit.get('amenities', '') else '' }}> Hardwood floors
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="ac" {{ 'checked' if 'ac' in a_unit.get('amenities', '') else '' }}> A/C
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="amenity" value="fireplace" {{ 'checked' if 'fireplace' in a_unit.get('amenities', '') else '' }}> Fireplace
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-header">Unit title</div>
                        <div class="section-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control input-lg" type="text" name="unit_title" id="unit_title" value="{{ a_unit['unit_title'] if a_unit else '' }}" placeholder="e.g. Amazing Studio in Midtown" required="required">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary btn-lg" type="button" id="make_title">Generate!</button>
                                            </span>
                                        </div>
                                        <span class="help-block">Fill out all fields above for a precise title</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-6">
                                        <button id="save" type="submit" class="btn btn-success btn-block btn-lg" data-loading-text="Saving...">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/mask.js') }}"></script>
<script>
    $(function() {
        String.prototype.supplant = function (o) {
            return this.replace(/{([^{}]*)}/g,
                    function (a, b) {
                        var r = o[b];
                        return typeof r === 'string' || typeof r === 'number' ? r : a;
                    }
            );
        };
        $('#unit_available_date').mask("00/00/0000", {placeholder: "MM/DD/YYYY"});
        var toTitleCase = function(str) {
            return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        };
        var getRandom = function(arr, size) {
            var shuffled = arr.slice(0), i = arr.length, temp, index;
            while (i--) {
                index = Math.floor((i + 1) * Math.random());
                temp = shuffled[index];
                shuffled[index] = shuffled[i];
                shuffled[i] = temp;
            }
            return shuffled.slice(0, size);
        };
        $('#make_title').click(function() {
            var bed, bath, fee;
            bed = $('#unit_bedrooms').val();
            bath = $('#unit_bathrooms').val();
            fee = $('#unit_fee').val();
            if (bed == '' || bath == '') {
                alert("You didn't fill out all fields to generate a title!");
                return;
            }
            var adjectives = ['amazing', 'spacious', 'lavish', 'luxurious', 'large', 'cozy', 'unique', 'extravagant', 'beautiful', 'gorgeous', 'wonderful'];
            var property = {% raw info %};

        var adjective = getRandom(adjectives, 1);
        var amenities = getRandom(property['amenities'], 3);
        var location = property["location"];
        var title = '';
        if (bed == 0) {
            title = "{adjective} Studio in {location}".supplant({adjective: toTitleCase(adjective[0]), location: location});
        } else {
            title = "{adjective} {bed} bed/{bath} bath in {location}".supplant({adjective: toTitleCase(adjective[0]), bed: bed, bath: bath, location: location});
        }
        if (amenities.length == 3)
            title += " with {a1}, {a2} and {a3}".supplant({a1: amenities[0], a2: amenities[1], a3: amenities[2]});
        if (fee == 0)
            title += " - No fee";
        $('#unit_title').val(title);
    });
    });
</script>
{% end %}