{% extends "../../layouts/main.html" %}

{% block page %}
<section id="properties">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <div class="clearfix">
                    <div class="pull-left">{{ a_property.get('name', 'Edit property') if a_property else 'New property' }} &mdash; Description</div>
                    <div class="actions pull-right hidden-xs">
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span> Manage units</a>
                        <a href="/properties/{{ a_property.get('_id') }}/view" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                        <a href="/properties/{{ a_property['_id'] }}/delete" class="btn btn-danger btn-sm" id="property-delete"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </div>
                </div>
            </div>
            <div id="sub-navigation">
                <div class="hidden-xs">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span> Location</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span> Description</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
                        <li class="active"><a href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span></a>
                        <a class="btn btn-primary active" href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span></a>
                        <a class="btn btn-default" href="/properties/{{ a_property.get('_id') }}/view"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-danger" href="/properties/{{ a_property['_id'] }}/delete" id="property-delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        <form class="form-horizontal" role="form" action="{{ request.path }}" method="post" id="new-property-contacts">
                            {% module FlashModule() %}
                            <div class="section">
                                <div class="section-header">Contacts</div>
                                <div class="section-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="contact_person">Contact person</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-lg" type="text" name="contact_person" id="contact_person" value="{{ a_property['contact_info'].get('person', '') if a_property else '' }}" placeholder="e.g. John Doe">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="contact_phone_number">Phone number</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-lg" type="tel" name="contact_phone_number" id="contact_phone_number" value="{{ a_property['contact_info'].get('phone_number', '') if a_property else '' }}" placeholder="e.g. (212) 000-0000">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="contact_website">Website</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-lg" type="url" name="contact_website" id="contact_website" value="{{ a_property['contact_info'].get('website', '') if a_property else '' }}" placeholder="e.g. http://www.property.com">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="contact_email">Email</label>
                                        <div class="col-md-8">
                                            <input class="form-control input-lg" type="email" name="contact_email" id="contact_email" value="{{ a_property['contact_info'].get('email', '') if a_property else '' }}" placeholder="e.g. hello@property.com">
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="alert alert-warning" role="alert"><strong>Template:</strong> Please contact <i>John Doe</i> at <i>(XXX) XXX-XXXX</i>, email at <i>hello@property.com</i> or visit <i>http://www.property.com</i> for more information!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6">
                                    <button id="save" type="submit" class="btn btn-success btn-block btn-lg" data-loading-text="Saving...">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/mask.js') }}"></script>
<script>
    $(function() {
        $('#contact_phone_number').mask('(000) 000-0000');
    });
</script>
{% end %}