{% extends "../../layouts/main.html" %}

{% block page %}
<section id="properties">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <div class="clearfix">
                    <div class="pull-left">{{ a_property.get('name', 'Edit property') if a_property else 'New property' }} &mdash; Description</div>
                    <div class="actions pull-right hidden-xs">
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span> Manage units</a>
                        <a href="/properties/{{ a_property.get('_id') }}/view" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                        <a href="/properties/{{ a_property['_id'] }}/delete" class="btn btn-danger btn-sm" id="property-delete"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </div>
                </div>
            </div>
            <div id="sub-navigation">
                <div class="hidden-xs">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span> Location</a></li>
                        <li class="active"><a href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span> Description</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span></a>
                        <a class="btn btn-primary active" href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span></a>
                        <a class="btn btn-default" href="/properties/{{ a_property.get('_id') }}/view"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-danger" href="/properties/{{ a_property['_id'] }}/delete" id="property-delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        <form class="form-horizontal" role="form" action="{{ request.path }}" method="post" id="new-property-description">
                            {% module FlashModule() %}
                            <div class="section">
                                <div class="section-header">Description</div>
                                <div class="section-body">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea class="form-control input-lg" style="min-height: 250px" name="description" id="description" placeholder="Don't include unit title or contact info here">{{ a_property['description'] }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="section-header">Amenities</div>
                                <div class="section-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="elevator" {{ 'checked' if 'elevator' in a_property['amenities'] else '' }}> Elevator
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="doorman" {{ 'checked' if 'doorman' in a_property['amenities'] else '' }}> Doorman
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="laundry" {{ 'checked' if 'laundry' in a_property['amenities'] else '' }}> Laundry
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="parking" {{ 'checked' if 'parking' in a_property['amenities'] else '' }}> Parking
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="gym" {{ 'checked' if 'gym' in a_property['amenities'] else '' }}> Gym
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="outdoor space" {{ 'checked' if 'outdoor space' in a_property['amenities'] else '' }}> Outdoor space
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="storage" {{ 'checked' if 'storage' in a_property['amenities'] else '' }}> Storage
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="pool" {{ 'checked' if 'pool' in a_property['amenities'] else '' }}> Pool
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="pre-war" {{ 'checked' if 'pre-war' in a_property['amenities'] else '' }}> Pre-war
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="amenity" value="new-construction" {{ 'checked' if 'new-construction' in a_property['amenities'] else '' }}> New construction
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="alert alert-info">Additional amenities can be added to units</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6">
                                    <button id="save" type="submit" class="btn btn-success btn-block btn-lg" data-loading-text="Saving...">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}