{% extends "../../layouts/main.html" %}

{% block page %}
<section id="properties">
    <div class="col-md-10">
        {% module FlashModule() %}
        <div class="panel panel-default">
            <div class="panel-heading panel-title">Properties</div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        {% if properties.count() > 0 %}
                        <table class="table table-hover table-responsive" id="properties-table" collapsing="0" width="100%">
                            <tbody>
                            {% for a_property in properties %}
                            <tr>
                                <td>
                                    <a href="/properties/{{ a_property.get('_id') }}/view">{{ a_property.get('name') if a_property.get('name') else a_property.get('location').get('route') }}</a>
                                </td>
                                <td class="text-right">
                                    <div class="hidden-xs">
                                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-th"></span> Units</a>
                                        <a href="/properties/{{ a_property.get('_id') }}/trackers" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-link"></span> Trackers</a>
                                        <a href="/flyers/{{ a_property.get('_id') }}/" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list-alt"></span> Flyer</a>
                                        <a href="/properties/{{ a_property.get('_id') }}/location" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                        <a href="/properties/{{ a_property.get('_id') }}/view" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                                        <a href="/properties/{{ a_property.get('_id') }}/boost" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-upload"></span> Boost!</a>
                                    </div>
                                    <div class="visible-xs">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                Actions <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="/properties/{{ a_property.get('_id') }}/units"><span class="glyphicon glyphicon-th"></span> Units</a></li>
                                                <li><a href="/properties/{{ a_property.get('_id') }}/trackers"><span class="glyphicon glyphicon-link"></span> Trackers</a></li>
                                                <li><a href="/flyers/{{ a_property.get('_id') }}/"><span class="glyphicon glyphicon-list-alt"></span> Flyer</a></li>
                                                <li><a href="/properties/{{ a_property.get('_id') }}/location"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
                                                <li><a href="/properties/{{ a_property.get('_id') }}/view"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
                                                <li><a href="/properties/{{ a_property.get('_id') }}/boost"><span class="glyphicon glyphicon-upload"></span> Boost!</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% end %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-info">
                            <p>You don't have any properties!</p>
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}