{% extends "../../layouts/main.html" %}

{% block page %}
<section id="properties">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <div class="clearfix">
                    <div class="pull-left">{{ a_property.get('name', 'Edit property') if a_property else 'New property' }} &mdash; Location</div>
                    <div class="actions pull-right hidden-xs">
                        {% if a_property %}
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span> Manage units</a>
                        <a href="/properties/{{ a_property.get('_id') }}/view" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                        <a href="/properties/{{ a_property['_id'] }}/delete" class="btn btn-danger btn-sm" id="property-delete"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        {% end %}
                    </div>
                </div>
            </div>
            <div id="sub-navigation">
                <div class="hidden-xs">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Location</a></li>
                        {% if a_property %}
                        <li><a href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span> Description</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
                        {% else %}
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-align-justify"></span> Description</a></li>
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
                        {% end %}
                    </ul>
                </div>
                <div class="visible-xs">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary active" href="#"><span class="glyphicon glyphicon-map-marker"></span></a>
                        {% if a_property %}
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span></a>
                        <a class="btn btn-default" href="/properties/{{ a_property.get('_id') }}/view"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-danger" href="/properties/{{ a_property['_id'] }}/delete" id="property-delete"><span class="glyphicon glyphicon-trash"></span></a>
                        {% else %}
                        <a class="btn btn-primary" disabled="disabled" href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-primary" disabled="disabled" href="#"><span class="glyphicon glyphicon-picture"></span></a>
                        <a class="btn btn-primary" disabled="disabled" href="#"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        <a class="btn btn-primary" disabled="disabled" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        <form class="form-horizontal" role="form" action="{{ request.path }}" method="post" id="new-property-location">
                            {% module FlashModule() %}
                            <div class="form-group">
                                <label class="control-label col-md-3" for="name">Property name</label>
                                <div class="col-md-8">
                                    <input class="form-control input-lg" type="text" name="name" id="name" value="{{ a_property['name'] if a_property else '' }}" placeholder="e.g. Amazing Towers">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="raw_address">Property address</label>
                                <div class="col-md-8">
                                    <div class="input-group input-group-lg">
                                        <input class="form-control input-lg" type="text" name="raw_address" id="raw_address" value="{{ a_property['location']['full_address'] if a_property else '' }}" placeholder="e.g. 101 Main St, New York, NY 10011">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-lg" type="button" id="geocode">Find!</button>
                                        </span>
                                    </div>
                                    <span class="help-block">Street, City, State ZIP</span>
                                </div>
                            </div>
                            <div id="geoinfo" class="hidden">
                                <hr />
                                <div id="map">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-8" id="preview_map"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="address_route">Street address</label>
                                    <div class="col-md-8">
                                        <input type="hidden" name="address_street_number" id="address_street_number" value="{{ a_property['location']['street_number'] if a_property else '' }}">
                                        <input type="hidden" name="address_street_name" id="address_street_name" value="{{ a_property['location']['street_name'] if a_property else '' }}">
                                        <input type="hidden" name="address_full_address" id="address_full_address" value="{{ a_property['location']['full_address'] if a_property else '' }}">
                                        <input class="form-control input-lg" type="text" name="address_route" id="address_route" value="{{ a_property['location']['route'] if a_property else '' }}" placeholder="e.g. 101 Main St">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="address_neighborhood">Neighborhood</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" type="text" name="address_neighborhood" id="address_neighborhood" value="{{ a_property['location']['neighborhood'] if a_property else '' }}" placeholder="e.g. Midtown">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="address_city">City</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" type="text" name="address_city" id="address_city" value="{{ a_property['location']['city'] if a_property else '' }}" placeholder="e.g. New York">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="address_state">State</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" type="text" name="address_state" id="address_state" value="{{ a_property['location']['state'] if a_property else '' }}" placeholder="e.g. NY">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="address_zip">ZIP</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" type="number" name="address_zip" id="address_zip" value="{{ a_property['location']['zip'] if a_property else '' }}" placeholder="e.g. 11000">
                                    </div>
                                </div>
                                <input type="hidden" id="address_lat" name="address_lat" value="{{ a_property['location']['lat'] if a_property else '' }}"/>
                                <input type="hidden" id="address_long" name="address_long" value="{{ a_property['location']['long'] if a_property else '' }}"/>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6">
                                    <button id="save_btn" name="save_btn" type="submit" class="btn btn-success btn-block btn-lg hidden" data-loading-text="Saving...">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block javascript %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD34M_s-8wkpG2NEcT-2okSWJ2zZDtQhu0"></script>
<script type="application/javascript">
    $(function() {
        var geocoder = new google.maps.Geocoder();
        var find = function() {
            var address = $("#raw_address").val();
            geocoder.geocode({'address': address}, function(results, status) {
                if (status != google.maps.GeocoderStatus.OK) {
                    alert("Couldn't find that address!");
                } else {
                    var streetNumber, streetName, neighborhood, cityName, subCityName, adminArea3, stateAbbrev, postalCode, addressLat, addressLong = '';
                    var addressComponents = results[0]["address_components"];
                    $.each(addressComponents, function () {
                        addressLat = results[0].geometry.location.lat();
                        addressLong = results[0].geometry.location.lng();
                        switch (this.types[0]) {
                            case "street_number":
                                streetNumber = this.short_name;
                                break;
                            case "route":
                                streetName = this.short_name;
                                break;
                            case "neighborhood":
                                neighborhood = this.short_name;
                                break;
                            case "locality":
                                cityName = this.short_name;
                                break;
                            case "administrative_area_level_3":
                                adminArea3 = this.short_name;
                                break;
                            case "sublocality_level_1": // Catches things like Brooklyn
                                subCityName = this.short_name;
                                break;
                            case "administrative_area_level_1":
                                stateAbbrev = this.short_name;
                                break;
                            case "postal_code":
                                postalCode = this.short_name;
                                break;
                        }
                    });
                    if (cityName === '' && subCityName !== '') {
                        cityName = subCityName;
                    }
                    if (cityName === '' && adminArea3 !== '') {
                        cityName = adminArea3;
                    }
                    var fullAddress = streetNumber + " " + streetName + ", " + cityName + ", " + stateAbbrev + " " + postalCode;
                    var mapUrl = "https://maps.googleapis.com/maps/api/staticmap?center=" + addressLat + "," + addressLong +"&size=544x130&zoom=15&scale=1&markers=icon:http://i.imgur.com/1eUIBgz.png|" + addressLat + "," + addressLong +"&sensor=false";
                    $("#preview_map").empty().append("<img src='" + mapUrl + "' class='img-thumbnail' style='margin-bottom:20px' />");
                    $("#address_lat").focus().val(addressLat).blur();
                    $("#address_long").focus().val(addressLong).blur();
                    $("#address_street_number").focus().val(streetNumber).blur();
                    $("#address_route").focus().val(streetNumber + " " + streetName).blur();
                    $("#address_street_name").focus().val(streetName).blur();
                    $("#address_full_address").focus().val(fullAddress).blur();
                    $("#address_neighborhood").focus().val(neighborhood).blur();
                    $("#address_city").focus().val(cityName).blur();
                    $("#address_state").focus().val(stateAbbrev).blur();
                    $("#address_zip").focus().val(postalCode).blur();
                    $("#geoinfo").removeClass("hidden");
                    $("#save_btn").removeClass("hidden");
                }
            });
        };
        $("#raw_address").keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                find();
            }
        });
        $("#geocode").click(function() {
            find();
        });
    });
</script>
{% end %}