{% extends "../../layouts/main.html" %}

{% block page %}
<section id="properties">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <div class="clearfix">
                    <div class="pull-left">{{ a_property.get('name', 'Edit property') if a_property else 'New property' }} &mdash; Description</div>
                    <div class="actions pull-right hidden-xs">
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span> Manage units</a>
                        <a href="/properties/{{ a_property.get('_id') }}/view" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                        <a href="/properties/{{ a_property['_id'] }}/delete" class="btn btn-danger btn-sm" id="property-delete"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </div>
                </div>
            </div>
            <div id="sub-navigation">
                <div class="hidden-xs">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span> Location</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span> Description</a></li>
                        <li class="active"><a href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-primary active" href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span></a>
                        <a class="btn btn-default" href="/properties/{{ a_property.get('_id') }}/view"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-danger" href="/properties/{{ a_property['_id'] }}/delete" id="property-delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        <form class="form-horizontal" role="form" action="{{ request.path }}" method="post">
                            {% module FlashModule() %}
                            <div class="section">
                                <div class="section-header">Photos</div>
                                <div class="section-body">
                                    <div id="photo_uploader" style="min-height: 300px"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6">
                                    <button id="save" type="submit" class="btn btn-success btn-block btn-lg" data-loading-text="Saving..."> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}


{% block javascript %}
<script src="{{ static_url('js/dropzone.js') }}"></script>
<script>
    $(function() {
        var btn = $("#save");
        Dropzone.autoDiscover = false;
        var photoUploader = new Dropzone("div#photo_uploader", {
            url: "/photos/{{ a_property['_id'] }}/upload",
            paramName: "photo",
            method: "post",
            acceptedFiles: ".jpeg,.jpg,.png",
            parallelUploads: 10,
            maxFilesize: 10,
            thumbnailWidth: 250,
            thumbnailHeight: 250,
            autoProcessQueue: false,
            dictDefaultMessage: "Click or drop your photos here to upload",
            previewTemplate: "<div class=\"col-md-4 dz-preview dz-file-preview\">\n    <div class=\"dz-details\">\n        <div class=\"thumbnail\">\n            <img data-dz-thumbnail class=\"img-responsive\" />\n            <div class=\"caption\">\n                <a data-dz-remove class=\"btn btn-danger btn-sm btn-block delete\">\n                    <i class=\"glyphicon glyphicon-trash\"></i>\n                    <span>Delete</span>\n                </a>\n            </div>\n        </div>\n    </div>\n</div>"
        });
        var url = "/static/photos/{{ str(a_property['_id']) }}/";
        $.getJSON("/photos/{{ str(a_property['_id']) }}", function(data) {
            data.forEach(function (photo) {
                photoUploader.options.addedfile.call(photoUploader, photo);
                photoUploader.options.thumbnail.call(photoUploader, photo, url + photo["name"]);
            });
        });
        photoUploader.on("removedfile", function(file) {
            $.get("/photos/{{ str(a_property['_id']) }}/delete", {name: file["name"]});
        });
        btn.click(function() {
            btn.html("Wait until photos are uploaded...").prop("disabled", true);
            photoUploader.processQueue();
            btn.off("click");
        });
        photoUploader.on("addedfile", function(file) {
           btn.html("<span class='glyphicon glyphicon-upload'></span> Upload photos"); 
        });
        photoUploader.on("queuecomplete", function(file, progress) {
            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                btn.prop("disabled", false).html("Save");
            }
        });
    });
</script>
{% end %}