{% extends "../../layouts/main.html" %}

{% block page %}
<section id="properties">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <div class="clearfix">
                    <div class="pull-left">{{ a_property.get('name', 'Edit property') if a_property else 'New property' }} &mdash; Description</div>
                    <div class="actions pull-right hidden-xs">
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span> Manage units</a>
                        <a href="/properties/{{ a_property.get('_id') }}/view" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                        <a href="/properties/{{ a_property['_id'] }}/delete" class="btn btn-danger btn-sm" id="property-delete"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </div>
                </div>
            </div>
            <div id="sub-navigation">
                <div class="hidden-xs">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span> Location</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span> Description</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
                        <li><a href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
                        <li class="active"><a href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/location"><span class="glyphicon glyphicon-map-marker"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/description"><span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/photos"><span class="glyphicon glyphicon-picture"></span></a>
                        <a class="btn btn-primary" href="/properties/{{ a_property['_id'] }}/contact_info"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        <a class="btn btn-primary active" href="/properties/{{ a_property['_id'] }}/preferences"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span></a>
                        <a class="btn btn-default" href="/properties/{{ a_property.get('_id') }}/view"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-danger" href="/properties/{{ a_property['_id'] }}/delete" id="property-delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        <form class="form-horizontal" role="form" action="{{ request.path }}" method="post">
                            {% module FlashModule() %}
                            <div class="section">
                                <div class="section-header">Credential</div>
                                <div class="section-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="credential">Credential</label>
                                        <div class="col-md-8">
                                            <select class="form-control input-lg" name="credential" id="credential" required="required">
                                                {% if a_property["credential"] %}
                                                <option selected="selected" value="{{ a_property['credential'].get('_id', '') }}">{{ a_property['credential'].get('name', '') }}</option>
                                                <option disabled></option>
                                                {% end %}
                                                {% for credential in credentials %}
                                                <option value="{{ credential['_id'] }}">{{ credential['name'] }}</option>
                                                {% end %}
                                            </select>
                                            <span class="help-block">Properties <strong>must</strong> have an associated credential or listings won't be posted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="section-header">Targets</div>
                                <div class="section-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="website" value="postlets" {{ 'checked' if 'postlets' in a_property.get('targets', '') else '' }}> Postlets
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="website" value="padlister" {{ 'checked' if 'padlister' in a_property.get('targets', '') else '' }}> PadLister
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="website" value="vlshomes" {{ 'checked' if 'vlshomes' in a_property.get('targets', '') else '' }}> VLSHomes
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="website" value="house" {{ 'checked' if 'house' in a_property.get('targets', '') else '' }}> House.info
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="website" value="ebay" {{ 'checked' if 'ebay' in a_property.get('targets', '') else '' }}> eBay Classifieds
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="website" value="rentdigs" {{ 'checked' if 'rentdigs' in a_property.get('targets', '') else '' }}> RentDigs
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="website" value="billburg" {{ 'checked' if 'billburg' in a_property.get('targets', '') else '' }}> Billburg
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="website" value="avislist" {{ 'checked' if 'avislist' in a_property.get('targets', '') else '' }}> Avi's List
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="alert alert-info">
                                        <strong>Your property will also be posted on these websites through syndication:</strong><br/><br/>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <ul>
                                                    <li>Zillow</li>
                                                    <li>FrontDoor</li>
                                                    <li>Oodle</li>
                                                    <li>Military.com</li>
                                                    <li>Walmart</li>
                                                    <li>Facebook</li>
                                                    <li>BackPage.com</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <ul>
                                                    <li>Yahoo!</li>
                                                    <li>RentBits</li>
                                                    <li>Walkscore</li>
                                                    <li>RentJungle</li>
                                                    <li>Campus Avenue</li>
                                                    <li>Rentenna</li>
                                                    <li>AOL Real Estate</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <ul>
                                                    <li>HotPads</li>
                                                    <li>Trovit</li>
                                                    <li>Geebo</li>
                                                    <li>Enormo</li>
                                                    <li>Yakaz</li>
                                                    <li>RentMatch</li>
                                                    <li>Trulia</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <ul>
                                                    <li>ByOwnerMLS</li>
                                                    <li>Vast</li>
                                                    <li>Zumper</li>
                                                    <li>MapLiv</li>
                                                    <li>LiveLovely</li>
                                                    <li>MSN Real Estate</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6">
                                    <button id="save" type="submit" class="btn btn-success btn-block btn-lg" data-loading-text="Saving...">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}