{% extends "../../layouts/main.html" %}

{% block page %}
<section id="properties">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <div class="clearfix">
                    <div class="pull-left">
                        {{ a_property.get('name', 'Property') }} <small>{{ a_property.get('location').get('full_address') }}</small>
                    </div>
                    <div class="actions pull-right hidden-xs">
                        <a href="/properties/{{ a_property.get('_id') }}/units" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-th"></span> Manage units</a>
                        <a href="/properties/{{ a_property.get('_id') }}/flyer" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-list-alt"></span> See flyer</a>
                        <a href="/properties/{{ a_property.get('_id') }}/location" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    </div>
                </div>
            </div>
            <div id="sub-navigation">
                <div class="hidden-xs">
                    <ul id="property-tab" class="nav nav-pills nav-justified" role="tablist">
                        <li class="active"><a href="#description" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-align-justify"></span> Description</a></li>
                        <li><a href="#units" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th"></span> Units</a></li>
                        <li><a href="#amenities" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-check"></span> Amenities</a></li>
                        <li><a href="#map" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
                        <li><a href="#photos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
                        <li><a href="#contacts" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="#description" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-align-justify"></span></a>
                        <a class="btn btn-primary" href="#units" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th"></span></a>
                        <a class="btn btn-primary" href="#amenities" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-check"></span></a>
                        <a class="btn btn-primary" href="#map" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-map-marker"></span></a>
                        <a class="btn btn-primary" href="#photos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span></a>
                        <a class="btn btn-primary" href="#contacts" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-phone-alt"></span></a>
                        <a class="btn btn-warning" href="/properties/{{ a_property.get('_id') }}/units"><span class="glyphicon glyphicon-th"></span></a>
                        <a class="btn btn-success" href="/properties/{{ a_property.get('_id') }}/flyer"><span class="glyphicon glyphicon-list-alt"></span></a>
                        <a class="btn btn-info" href="/properties/{{ a_property.get('_id') }}/location"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        <div id="property-tab-content" class="tab-content">
                            <div class="tab-pane fade active in" id="description">
                                {% if a_property.get('description') %}
                                <p style="white-space: pre-line">{{ a_property.get('description') }}</p>
                                {% else %}
                                <div class="alert alert-info">
                                    <p>This property has no description</p>
                                </div>
                                {% end %}
                            </div>
                            <div class="tab-pane fade" id="units">
                                {% if units.count() > 0 %}
                                <table class="table table-hover table-responsive" collapsing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Unit #</th>
                                        <th>Beds</th>
                                        <th>Baths</th>
                                        <th>ft<sup>2</sup></th>
                                        <th>Deposit</th>
                                        <th>Broker fee?</th>
                                        <th>Rent</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for unit in units %}
                                    <tr>
                                        <td>{{ unit.get('unit_number', 'N/A') }}</td>
                                        <td>{{ unit.get('unit_bedrooms', 'N/A') }}</td>
                                        <td>{{ unit.get('unit_bathrooms', 'N/A') }}</td>
                                        <td>{{ unit.get('unit_sqft', 'N/A') }} ft<sup>2</sup></td>
                                        <td>{{ '$' + str(unit.get('unit_deposit', 'N/A')) if unit.get('unit_deposit') > 0 else 'N/A' }}</td>
                                        <td>{{ 'Yes' if unit['unit_fee'] == 'yes' else 'No' }}</td>
                                        <td>${{ unit.get('unit_rent', 'N/A') }}</td>
                                    </tr>
                                    {% end %}
                                    </tbody>
                                </table>
                                {% else %}
                                <div class="alert alert-info">
                                    <p>This property has no units!</p>
                                </div>
                                {% end %}
                            </div>
                            <div class="tab-pane fade" id="amenities">
                                {% if len(a_property.get('amenities')) > 0 %}
                                <ul class="list-unstyled amenities row">
                                    {% for amenity in a_property.get('amenities') %}
                                    <li class="col-md-4 col-xs-6"><span class="glyphicon glyphicon-check"></span> {{ amenity.capitalize() }}</li>
                                    {% end %}
                                </ul>
                                {% else %}
                                <div class="alert alert-info">
                                    <p>This property has no amenities selected</p>
                                </div>
                                {% end %}
                            </div>
                            <div class="tab-pane fade" id="map">
                                <div class="thumbnail">
                                    <img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center={{ a_property['location']['lat'] }},{{ a_property['location']['long'] }}&size=640x300&zoom=16&scale=2&markers=icon:http://i.imgur.com/1eUIBgz.png|{{ a_property['location']['lat'] }},{{ a_property['location']['long'] }}&sensor=false" alt=""/>
                                </div>
                            </div>
                            <div class="tab-pane" id="photos">
                                {% if len(a_property.get('photos')) > 1 %}
                                <div id="photo-slider" class="thumbnail">
                                    {% for photo in a_property.get('photos') %}
                                    <div><img src="/static/photos/{{ a_property['_id'] }}/{{ photo }}"></div>
                                    {% end %}
                                    <ul class="pager slidesjs-navigation">
                                        <li><a href="#" class="slidesjs-previous"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
                                        <li><a href="#" class="slidesjs-next">Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                                    </ul>
                                </div>
                                {% elif len(a_property.get('photos')) == 1 %}
                                <div id="photo-slider" class="thumbnail">
                                    {% for photo in a_property.get('photos') %}
                                    <div>
                                        <img src="/static/photos/{{ a_property['_id'] }}/{{ photo }}">
                                    </div>
                                    {% end %}
                                </div>
                                {% else %}
                                <div class="alert alert-info">
                                    <p>This property has no photos</p>
                                </div>
                                {% end %}
                            </div>
                            <div class="tab-pane fade" id="contacts">
                                {% if len(a_property['contact_info']) > 0 %}
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Contact person</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">{{ a_property.get("contact_info").get("person", "No contact person") }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Phone number</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">{{ a_property.get("contact_info").get("phone_number", "No phone number") }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Website</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">{{ a_property.get("contact_info").get("website", "No website") }}</p>                                    
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">{{ a_property.get("contact_info").get("email", "No email") }}</p>
                                        </div>
                                    </div>
                                </form>
                                <!--<dl class="dl-horizontal">-->
                                <!--    <dt>Name</dt>-->
                                <!--    <dd>{{ a_property.get("contact_info").get("person", "No contact person") }}</dd>-->
                                <!--    <dt>Phone</dt>-->
                                <!--    <dd>{{ a_property.get("contact_info").get("phone_number", "No phone number") }}</dd>-->
                                <!--    <dt>Email address</dt>-->
                                <!--    <dd><a href="mailto:{{ a_property.get('contact_info').get('email') }}">{{ a_property.get("contact_info").get("email", "No email") }}</a></dd>-->
                                <!--    <dt>Website</dt>-->
                                <!--    <dd><a href="{{ a_property.get('contact_info').get('website') }}">{{ a_property.get("contact_info").get("website", "No website") }}</a></dd>-->
                                <!--</dl>-->
                                {% else %}
                                <div class="alert alert-info">
                                    <p>This property has no contact information</p>
                                </div>
                                {% end %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/slides.js') }}" type="text/javascript"></script>
<script>
    $(function(){
        $('#property-tab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        $("#photo-slider").slidesjs({
            width: 432,
            height: 300,
            pagination: false,
            navigation: false,
            effect: {
                fade: {
                    speed: 400
                }
            }
        });
    });
</script>
{% end %}