html {
    position: relative;
    min-height: 100%;
}

body {
    /*font-family: 'Open Sans', sans-serif;*/
    margin-bottom: 60px;
}

.logo-color { color: #428bca; }

/*.navbar-brand {*/
    /*font-family: 'Roboto', sans-serif;*/
/*}*/

.footer {
    color: #777777;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.page-header {
    margin: 0 0 20px;
    padding-bottom: 12px;
}

.page-header h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

.page-header h4 {
    margin-top: 5px;
    margin-bottom: 0;
}

.section {
    margin-bottom: 30px;
}

.section-header {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 20px;
    padding-bottom: 10px;
}

.section-header h4 {
    margin-top: 5px;
    margin-bottom: 0;
}

#sidebar hr {
    margin: 20px 0;
    border: 0;
}

.dropdown-menu {
    width: 100%;
}

.btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.25);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.25);
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #f04c5c;
    background-color: #ffffff;
}

.nav > li > a.new {
    color: #ffffff;
    background-color: #d9534f;
    outline: 0;
    text-align: center;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.25);
}

.nav .open > a.new, .nav .open > a.new:hover, .nav .open > a.new:focus {
    background-color: #d9534f;
}

.icon {
    font-size: 40px;
    margin-top: 5px;
}

.huge {
    font-size: 40px;
}

.panel-primary .panel-footer {
    background-color: #ffffff;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green .panel-footer {
    background-color: #ffffff;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red .panel-footer {
    background-color: #ffffff;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow .panel-footer {
    background-color: #ffffff;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

#properties-table td {
    font-size: 16px;
}

#photo-slides {
    display: none;
}

.amenities li {
    float: left;
    padding: 10px 0 10px 20px;
}

.amenities li span {
    color: green;
}

#properties-table tr:first-child > td {
    border-top: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#properties-table tr:last-child > td {
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#signin-logo {
    color: #333;
    text-align: center;
    font-size: 40px;
    padding: 40px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 2px 2px 0px;
}

#signup-logo {
    color: #333;
    text-align: center;
    font-size: 40px;
    padding: 20px 0 40px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 2px 2px 0px;
}

.signup-list li {
    color: #333;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
}

.signup-list p {
    padding-left: 30px;
}

.signup-list span {
    color: #5cb85c;
}

.backstretch img {
    opacity: 0.15;
    filter: alpha(opacity=15);
}

.panel-default .panel-title {
    font-size: 18px;
    padding: 15px;
}

#sub-navigation {
    margin-bottom: 20px;
}

#sub-navigation .nav-pills {
    border-bottom: 1px solid #ddd;
}

#sub-navigation .nav-pills>li>a {
    border-radius: 0;
    padding: 15px;
}

#sub-navigation .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
#sub-navigation .btn-group>.btn:last-child:not(:first-child),
#sub-navigation .btn-group>.dropdown-toggle:not(:first-child) {
    border-radius: 0;
}