{% extends "../../layouts/main.html" %}

{% block page %}
<section id="dashboard">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">Dashboard</div>
            <div class="panel-body">
                <div class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <span class="glyphicon glyphicon-home icon"></span>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ properties }}</div>
                                                <div>Properties</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/properties">
                                        <div class="panel-footer">
                                            <span class="pull-left">View properties</span>
                                            <span class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <span class="glyphicon glyphicon-list-alt icon"></span>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ flyers }}</div>
                                                <div>Flyers</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/flyers">
                                        <div class="panel-footer">
                                            <span class="pull-left">View flyers</span>
                                            <span class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <span class="glyphicon glyphicon-ok icon"></span>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ listings }}</div>
                                                <div>Active listings</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/listings">
                                        <div class="panel-footer">
                                            <span class="pull-left">View listings</span>
                                            <span class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <span class="glyphicon glyphicon-fire icon"></span>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ expired_listings }}</div>
                                                <div>Expired listings</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/listings">
                                        <div class="panel-footer">
                                            <span class="pull-left">View listings</span>
                                            <span class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block javascript %}
{% end %}