{% extends "../../layouts/auth.html" %}

{% block page %}
<div id="signin-logo" class="center-block">
    <span class="glyphicon glyphicon-signal logo-color"></span> {{ escape(handler.settings['app_name']) }}
</div>
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form action="{{ request.uri }}" method="post" role="form" id="forgot-reset">
                {% module FlashModule() %}
                <input type="hidden" name="email" value="{{ email }}" />
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control input-lg" type="password" name="password" id="password" placeholder="Enter your password" />
                </div>
                <div class="form-group">
                    <label for="password_confirmation">Password, one more time</label>
                    <input class="form-control input-lg" type="password" name="password_confirmation" id="password_confirmation" placeholder="Enter your password" />
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Reset password</button>
            </form>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-left"><a href="/user/signup">Sign Up</a></div>
                <div class="pull-right"><a href="/user/forgot">Forgot your password?</a></div>
            </div>
        </div>
    </div>
</div>
{% end %}