{% extends "../../layouts/main.html" %}

{% block page %}
<section id="profile">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">Profile</div>
            <div class="panel-body">
                <form action="{{ request.uri }}" method="post" role="form" id="profile-form">
                    {% module FlashModule() %}
                    <div class="section">
                        <div class="section-body">
                            <div class="form-group">
                                <label class="control-label" for="name">Full name</label>
                                <input class="form-control input-lg" type="text" name="name" id="name" value="{{ current_user['profile'].get('name', '') }}" placeholder="Enter your name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email">Email</label>
                                <input class="form-control input-lg" type="text" name="email" id="email" value="{{ current_user['profile'].get('email', '') }}" placeholder="Enter your email" />
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label class="control-label" for="current_password">Current password</label>
                                <input class="form-control input-lg" type="password" name="current_password" id="current_password" placeholder="Enter your current password" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">New password</label>
                                <input class="form-control input-lg" type="password" name="password" id="password" placeholder="Enter your new password" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password_confirmation">New password confirmation</label>
                                <input class="form-control input-lg" type="password" name="password_confirmation" id="password_confirmation" placeholder="Enter your new password, again" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <button id="save" type="submit" class="btn btn-success btn-block btn-lg" data-loading-text="Saving...">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% end %}