{% extends "../../layouts/main.html" %}

{% block page %}
<section id="settings">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">Settings</div>
            <div class="panel-body">
                <form action="{{ request.uri }}" method="post" role="form" id="settings_form">
                    {% module FlashModule() %}
                    <div class="section">
                        <div class="section-body">
                            Options go here
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% end %}