{% extends "../../layouts/auth.html" %}

{% block page %}
<div class="col-md-10 col-md-offset-2" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-5">
            <div id="signup-logo" class="center-block">
                <span class="glyphicon glyphicon-signal logo-color"></span> {{ escape(handler.settings['app_name']) }}
            </div>
            <div class="hidden-xs hidden-sm">
                <ul class="list-unstyled signup-list">
                    <li>
                        <h3><span class="glyphicon glyphicon-list-alt"></span> Beautiful flyers</h3>
                        <p>RentBoost creates stunning flyers to present your properties to clients</p>
                    </li>
                    <li>
                        <h3><span class="glyphicon glyphicon-stats"></span> Meaningful reports</h3>
                        <p>You will get detailed reports on your listings &amp; flyers' performance</p>
                    </li>
                    <li>
                        <h3><span class="glyphicon glyphicon-refresh"></span> Automated posting</h3>
                        <p>Post here once and RentBoost will make sure that your listings will appear everwhere</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form action="{{ request.uri }}" method="post" role="form" id="signup">
                        {% module FlashModule() %}
                        <div class="form-group">
                            <label class="control-label" for="name">Full name</label>
                            <input class="form-control input-lg" type="text" name="name" id="name" placeholder="Enter your name" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input class="form-control input-lg" type="email" name="email" id="email" placeholder="Enter your email" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input class="form-control input-lg" type="password" name="password" id="password" placeholder="Enter your password" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password_confirmation">Password confirmation</label>
                            <input class="form-control input-lg" type="password" name="password_confirmation" id="password_confirmation" placeholder="Enter your password, again" />
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="clearfix">
                        <div class="pull-left"><a href="/user/signin">Already have an account?</a></div>
                        <div class="pull-right"><span class="glyphicon glyphicon-signal"></span> {{ escape(handler.settings['app_name']) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}