<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RentBoost</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <style>
        body { margin: 40px auto; }
        .form-control { background-color: rgba(255, 255, 255, 0.6) }
        .logo { margin-top: 100px; color: #ffffff; text-shadow: rgba(0, 0, 0, 0.0980392) 2px 2px 0px; font-size: 40px; }
        .logo-color { color: #428bca; }
        .pitch { font-size: 24px; color: #ffffff; margin: 40px 0 40px; text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 0px; }
        .pitch2 { font-size: 18px; color: #ffffff; margin: 40px 0 40px; text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 0px; }
        #save { margin-top: 20px; box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.25); }
    </style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="row">
        <p class="pitch text-center">Put your real estate listings to work<br>Let <b>RentBoost</b> do the rest...</p>
        <p class="pitch2 text-center">Be the first to join the beta waitlist.</p>
        <section id="form" class="col-md-4 col-md-offset-4 text-center col-sm-8 col-sm-offset-2">
            <form action="{{ request.uri }}" method="post" class="form-horizontal" id="wlf" role="form">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon">@</div>
                        <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                </div>
                <button type="submit" id="save" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-ok"></span> Sign Up!
                </button>
            </form>
        </section>
    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55465344-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<script type="text/javascript">
    $(function() {
        $.backstretch("http://i.imgur.com/weckyUd.jpg");
        $("#wlf").bootstrapValidator({
            fields: {
                email: {
                    validators: {
                        notEmpty: {
                            message: "Please enter a valid email address!"
                        },
                        emailAddress: {
                            message: "Please enter a valid email address!"
                        }
                    }
                }
            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();
            var $form = $(e.target);
            var bv = $form.data('bootstrapValidator');

            $.post($form.attr('action'), $form.serialize(), function () {}).done(function () {
                $("#form").html("<p class=\'alert alert-info\'><span class=\'glyphicon glyphicon-ok\'><span/> Awesome, we will let you know when we launch!</p>");
            }).fail(function () {
                $("#form").html("<p class=\'alert alert-danger\'><span class=\'glyphicon glyphicon-remove\'><span/> Oh no, something went wrong! Try again later.</p>");
            });
        });
    });
</script>
</body>
</html>