{% extends "../../layouts/flyer.html" %}

{% block header %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
    function initialize() {
        var fenway = new google.maps.LatLng({{ a_property['location']['lat'] }},{{ a_property['location']['long'] }});
        var mapOptions = {
            center: fenway,
            zoom: 14
        };
        var map = new google.maps.Map(
                document.getElementById('map-canvas'), mapOptions);
        var panoramaOptions = {
            position: fenway,
            pov: {
                heading: 34,
                pitch: 10
            }
        };
        var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);
        map.setStreetView(panorama);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% end %}

{% block page %}
<section id="flyer">
    <div class="col-md-12">
        <div class="section">
            <div class="section-header">
                <div class="clearfix">
                    <div class="pull-left">
                        {{ a_property.get('name', 'Property') }} <small>{{ a_property.get('location').get('full_address') }}</small>
                    </div>
                </div>
            </div>
            <div class="section-body">
                <div class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6"><div id="map-canvas" class="thumbnail" style="width: 100%; height: 300px"></div></div>
                                <div class="col-md-6"><div id="pano" class="thumbnail" style="position:absolute; left: 0; top: 0; width: 100%; height: 300px;"></div></div>
                            </div>
                            <div class="col-md-7">
                                <div id="description" class="panel panel-info">
                                    <div class="panel-heading">Description</div>
                                    <div class="panel-body">
                                        {% if a_property.get('description') %}
                                        <p style="white-space: pre-line">{{ a_property.get('description') }}</p>
                                        {% else %}
                                        <div class="alert alert-info">
                                            <p>This property has no description</p>
                                        </div>
                                        {% end %}
                                    </div>
                                </div>
                                <div id="amenities" class="panel panel-info">
                                    <div class="panel-heading">Amenities</div>
                                    <div class="panel-body">
                                        {% if len(a_property.get('amenities')) > 0 %}
                                        <ul class="list-unstyled amenities row">
                                            {% for amenity in a_property.get('amenities') %}
                                            <li class="col-md-4 col-xs-6"><span class="glyphicon glyphicon-check"></span> {{ amenity.capitalize() }}</li>
                                            {% end %}
                                        </ul>
                                        {% else %}
                                        <div class="alert alert-info">
                                            <p>This property has no amenities selected</p>
                                        </div>
                                        {% end %}
                                    </div>
                                </div>
                                <div id="units" class="panel panel-info">
                                    <div class="panel-heading">Units</div>
                                    <div class="panel-body">
                                        {% if units.count() > 0 %}
                                        <table class="table table-hover table-responsive" collapsing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Unit #</th>
                                                <th>Beds</th>
                                                <th>Baths</th>
                                                <th>ft<sup>2</sup></th>
                                                <th>Deposit</th>
                                                <th>Broker fee?</th>
                                                <th>Rent</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for unit in units %}
                                            <tr>
                                                <td>{{ unit.get('unit_number', 'N/A') }}</td>
                                                <td>{{ unit.get('unit_bedrooms', 'N/A') }}</td>
                                                <td>{{ unit.get('unit_bathrooms', 'N/A') }}</td>
                                                <td>{{ unit.get('unit_sqft', 'N/A') }} ft<sup>2</sup></td>
                                                <td>{{ '$' + str(unit.get('unit_deposit', 'N/A')) if unit.get('unit_deposit') > 0 else 'N/A' }}</td>
                                                <td>{{ 'Yes' if unit['unit_fee'] == 'yes' else 'No' }}</td>
                                                <td>${{ unit.get('unit_rent', 'N/A') }}</td>
                                            </tr>
                                            {% end %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                        <div class="alert alert-info">
                                            <p>This property has no units!</p>
                                        </div>
                                        {% end %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div id="contacts" class="panel panel-info">
                                    <div class="panel-heading">Get more information</div>
                                    <div class="panel-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="name">Your name</label>
                                                <input type="text" class="form-control" id="name" placeholder="Your name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Your name</label>
                                                <input type="email" class="form-control" id="email" placeholder="Your email">
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Message</label>
                                                <textarea class="form-control" rows="5" id="message" name="message" placeholder="I came across your listing on RentBoost. Please send me more information about {{ a_property.get('name', '') if a_property.get('name') else a_property.get('location').get('full_address') }}"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <div id="photos" class="panel panel-info">
                                    <div class="panel-heading">Photos</div>
                                    <div class="panel-body">
                                        {% if len(a_property.get('photos')) > 1 %}
                                        <div id="photo-slider" class="thumbnail">
                                            {% for photo in a_property.get('photos') %}
                                            <div><img src="/static/photos/{{ a_property['_id'] }}/{{ photo }}"></div>
                                            {% end %}
                                            <ul class="pager slidesjs-navigation">
                                                <li><a href="#" class="slidesjs-previous"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
                                                <li><a href="#" class="slidesjs-next">Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                                            </ul>
                                        </div>
                                        {% elif len(a_property.get('photos')) == 1 %}
                                        <div id="photo-slider" class="thumbnail">
                                            {% for photo in a_property.get('photos') %}
                                            <div>
                                                <img src="/static/photos/{{ a_property['_id'] }}/{{ photo }}">
                                            </div>
                                            {% end %}
                                        </div>
                                        {% else %}
                                        <div class="alert alert-info">
                                            <p>This property has no photos</p>
                                        </div>
                                        {% end %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block javascript %}
<script src="{{ static_url('js/slides.js') }}" type="text/javascript"></script>
<script>
    $(function(){
        $('#property-tab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        $("#photo-slider").slidesjs({
            width: 432,
            height: 300,
            pagination: false,
            navigation: false,
            effect: {
                fade: {
                    speed: 400
                }
            }
        });
    });
</script>
{% end %}